{% extends 'base.html.twig' %}

{% block title %}Начальная страница{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/normalize.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/category/add.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <main>
        <div class="container">

            <h1 class="main-h1">
                Создание статьи на <strong>MyNews</strong>
            </h1>

            <section class="forms">

                {{ form_errors(form) }}
                {{ form_start(form) }}

                {% for flash_error in app.flashes('error') %}
                    <div class="main-h3" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_row(form.name) }}
                {{ form_row(form.category) }}
                {{ form_row(form.text) }}
                {{ form_row(form.photoFileName) }}

                <button type="submit" class="sumbit-button">Поехали</button>
                {{ form_end(form) }}

            </section>
        </div>
    </main>

{% endblock %}
